.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 20px;    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 20px;
}
  
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
.close, .close2, .close3, .close4 {
    color: var(--cor3);
    font-size: 50px;
    height: 60px;
}
  
.close:hover,
.close:focus,
.close2:hover,
.close2:focus,
.close3:hover,
.close3:focus,
.close4:hover,
.close4:focus   {
    color: var(--cor2);
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    padding: 2px 16px;
    background-color: var(--cor5);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 8%;
    color: var(--cor3);
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.modal-header-maquina{
    height: 8%;
}
  
.modal-body {
    display: flex;
    flex-direction: column;
    padding: 3%;
    background-color: var(--cor4);
}
.modal-body .dashs{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
    justify-content: space-between
}

.modalUsuario {
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
  
.modal-conteudo {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 40%;
    height: 88%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 20px;
}

.modal-header-usuario {
    padding: 2px 16px;
    background-color: var(--cor5);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 9%;
    color: var(--cor3);
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
  
.modal-body-usuario {
    padding: 2px 16px;
    background-color: #fff;
    border-radius: 20px;
}

#header-title-usuario {
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 15px;
    height: 20%;
    font-size: 16px;
}

/* Formulario*/
.formulario{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.formulario .campo{
    width: 80%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.campo input, select {
    width: 100%;
    height: 40px;
    padding: 8px;
    border: 0.5px solid #bdbfc1;
    border-radius: 15px;
    background-color: var(--cor4);
    letter-spacing: 1px;
}

.campo span{
    align-self: self-start;
}

.botoes{
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.botoes button{
    width: 200px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 900;
}

.cancelar{
    background-color: var(--cor1);
}

.adicionar-botao{
    background-color: var(--cor0);
}

/* CPU----------------------------------------------------------------------- */
.dashs .cpu{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 50px;
    width: 30%;
    height: 70%;
    background-color: var(--cor5);
}
.cpu .infos{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.infos .info{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
/* RAM----------------------------------------------------------------------- */
.dashs .ram{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 50px;
    width: 50%;
    height: 70%;
    background-color: var(--cor5);
}
.ram h3{
    width: auto;
    height: auto;
}
.ram .chart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
/* REDE---------------------------------------------------------------------- */
.dashs .rede{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 50px;
    width: 60%;
    height: 65%;
    background-color: var(--cor5);
}
/* DISCO ---------------------------------------------------------------------*/
.dashs .disco{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 50px;
    width: 20%;
    height: 65%;
    background-color: var(--cor5);
    align-items: center;
}
#header-title, #header-title-maquina, #header-title-historico {
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 15px;
    height: 20%;
}

.alerta {
    width: 100px;
    height: 25px;
    border-radius: 40px;
    border: none;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

#header {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.pesquisar{
    width: 30%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
}

.pesquisar .campos {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pesquisar input{
    height: 20px;
    width: 120px;
    border-radius: 15px;
    border-color: #281549;  
    padding: 5px;
    border-width: 0.5px;
}

.pesquisar button{
    height: 30px;
    text-align: center;
    width: 100px;
    background-color: #281549;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.pesquisar span {
    height: fit-content;
    color: #281549;
    font-style: italic;
    cursor: pointer;
}

.dash {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: space-evenly;
}
.kpis{
    display: flex;
    align-items: center;
    width: 96%;
    height: auto;
    justify-content: space-between;
}
.kpis .kpi{
    display: flex;
    flex-direction: column;
    background-color: var(--cor4);
    box-shadow: 0px 0px 16px 1px #727272;
    border-radius: 10px;
    padding: 19px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 28%;
    height: 78%;
    cursor: pointer;
    transition: 0.2s;
}

.kpis .kpi:hover {
    height: 75%;
    width: 27%;
}
.kpis .kpi span{
    font-size: 40px;
    font-weight: bold;
    color: var(--cor1);
}
.problemas{
    display: flex;
    height: 30%;
    width: 92%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor4);
    box-shadow: 0px 0px 16px 1px #727272;
    border-radius: 10px;
    padding: 24px;
    font-size: 14px;
}
.problemas h1{
    height: auto;
}
.componentes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 33.3%;
    width: 100%;
}

.componentes .modal-content{
    height: 75%;
    width: 70%;
}

.componentes .modal-body{
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: center;
}

#maquinas{
    width: 95%;
    height: 80%;
    background-color: #7272721f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.header-tabela-dash{
    width: 92%;
    height: 10px;
    background-color: #281549;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-around;
    padding: 1.5%;
    align-items: center;
    color: #ffffff;
    font-weight: 800;
    font-size: 17px;
}

.loading-div {
    width: 50px;
    display: none;
}
  
.loading-div img {
    height: 50px;
    width: 50px;
}
  
#div_erros_login {
    display: none
}
  
.alerta_erro{
    display: flex;
    justify-content: flex-end;
    height: 1%;
}

.card_erro {
    /* display: none; */
   background-color: transparent;
   text-align: center;
   color: rgb(0, 0, 0);
}
  
.card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
}

/* Historico de manutenção*/
.headerManutencao{
    width: 100%;
    height: 17%;
    background-color: var(--cor0);
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-style: italic;
    font-weight: 600;
}

.bodyManutencao{
    background-color: #ffffff;
    width: 100%;
    height: 83%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    overflow-y: hidden;
}

.informacoes{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    border-bottom: 0.5px solid #0239715c;
}

.rede h3{
    height: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-descricao, .campo-descricao{
    width: 30%;
}

.campo-responsavel, .header-responsavel{
    width: 100px;
}

.campo-tipo, .header-tipo{
    width: 80px;
}

.campo-data, .header-data{
    width: 150px;
}

h3 button {
    width: 150px;
    margin: 10px;
    background-color: var(--cor0);
    color: #fff;
    height: 30px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}
