@font-face {
    font-family: "Open Sauce";
    src: url(font/Fonts/OpenSauceTwo-Regular.ttf);
}

:root{
    --cor0: #281549;
    --cor1: #9340FF;
    --cor2: #023971;
    --cor3: #20244F;
    --cor4: #F2F2F2;
    --cor5: #E1E1E1;

    --fonte-padrao: "Open Sauce";
}

*{
    font-family: var(--fonte-padrao);
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: row;
    position:fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.left-sidebar{
    width: 20%;
    background-color: var(--cor0);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.imgLogo{
    width: 160px;
    height: 50px;
    padding: 7px;
} 

.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--cor5);
    height: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

.logout{
    width: 60px;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    color: var(--cor5);
    height: 60px;
    align-items: center;
    border-radius: 100px;
}
.logout:hover{
    background-color: #9340ff4f;
}

.logout img {
    width: 30px;
    height: 30px;
}

.bloco{
    width: 100%;
    display: flex;
    justify-content: start;
    font-size: 18px;
    height: 50px;
    align-items: center;
    text-align: left;
    padding: 10px;
}

.bloco a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--cor5);
    margin-left: 10px;
}

.bloco:hover {
    background-color: #9340ff11;
}

.aqui{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    background-color: #9340ff4f;
}

.imgBloco{
    width: 30px;
    height: 30px;
    padding: 5px;
}

p{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.perfil{
    width: 100%;
    height: 90px;
    background-color: var(--cor4);
    box-shadow: 10px 3px 7px 0px #727272;
    display: flex;
    justify-content: space-between;
}

.turmas {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor0);
    font-size: 20px;
    font-weight: bold;
}

.usuario{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
}

.usuario img {
    width: 40px;
    height: 40px;
}

.texto {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    font-size: 20px;
    color: var(--cor0);
}

.texto .nome{
    font-weight: bold;
    font-size: 20px;
    color: var(--cor0);
}

#turma{
    width: 150px;
    height: 50%;
    border-radius: 15px;
    border: #727272;
    padding: 7px;
}

.dados {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#notebooks{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#repeticao {
    width: 95%;
    height: 70%;
    overflow: hidden;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-content: start;
    font-size: 17px;
    border-bottom-left-radius: 15px;
}
.componentes .titulo{
    width: 92%;
    height: 10px;
    background-color: #281549;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-around;
    padding: 1.5%;
    align-items: center;
    color: #ffffff;
    font-style: italic;
    font-weight: 800;
    font-size: 17px;
}

.header-tabela{
    width: 92%;
    height: 10px;
    background-color: #281549;
    display: flex;
    justify-content: space-around;
    padding: 1.5%;
    align-items: center;
    color: #ffffff;
    font-style: italic;
    font-weight: 800;
    font-size: 17px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.header-tabela-componentes{
    width: 92%;
    height: 2%;
    background-color: #281549;
    display: flex;
    justify-content: space-around;
    padding: 1.5%;
    align-items: center;
    color: #ffffff;
    font-weight: 800;
    font-size: 17px;
}

.adicionar{
    width: 300px;
    height: fit-content;
    padding: 8px;
    align-self: flex-end;
    border: none;
    background-color: #281549;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    margin-right: 40px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 17px;
}

.excluir-campo{
    width: 30px;
}

.excluir img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.excluir {
    display: flex;
    align-items: center;
    width: 30px;
}

#campo img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#campo{
    width: 98%;
    height: 100px;
    display: flex;
    background-color: #eeeded;
    justify-content: space-around;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    border-bottom: 1px solid #02397185;
}

#campo:hover{
    background-color: #20244f0b;
}

.header-tabela img {
    width: 30px;
    height: 30px;
}

.header-tabela p {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-tabela .id-campo, .hostname {
    width: 100px;
}

#status_campo, .bolinha{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ult_mod, .ultimaModificao{
    width: 200px;
}

#editar{
    text-decoration: none;
    font-weight: 600;
    color: #023971;
    cursor: pointer;
}

.editar-campo, #editar {
    width: 70px;
}

.bolinha {
    height: 20px;
    border-radius: 100px;
    background-color: green;
}

.note {
    width: 100px;
    height: 100px;
    cursor: pointer;
}