@font-face {
    font-family: "Open Sauce";
    src: url(font/Fonts/OpenSauceTwo-Regular.ttf);
}

:root{
    --cor0: #281549;
    --cor1: #9340FF;
    --cor2: #023971;
    --cor3: #20244F;
    --cor4: #F2F2F2;
    --cor5: #E1E1E1;

    --fonte-padrao: "Open Sauce";
}

*{
    font-family: var(--fonte-padrao);
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: row;
    position:fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.left-sidebar{
    width: 20%;
    background-color: var(--cor0);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.imgLogo{
    width: 160px;
    height: 50px;
    padding: 7px;
    
} 

.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--cor5);
    height: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

.logout{
    width: 60px;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    color: var(--cor5);
    height: 60px;
    align-items: center;
    border-radius: 100px;
}
.logout:hover{
    background-color: #9340ff4f;
}

.logout img {
    width: 30px;
    height: 30px;
}

.bloco{
    width: 100%;
    display: flex;
    justify-content: start;
    font-size: 18px;
    height: 50px;
    align-items: center;
    text-align: left;
    padding: 10px;
}

.bloco a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--cor5);
    margin-left: 10px;
}

.bloco:hover {
    background-color: #9340ff11;
}

.aqui{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    background-color: #9340ff4f;
}

.imgBloco{
    width: 30px;
    height: 30px;
    padding: 5px;
}

p{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.perfil{
    width: 100%;
    height: 90px;
    background-color: var(--cor4);
    box-shadow: 10px 3px 7px 0px #727272;
    display: flex;
    justify-content: space-between;
}

.turmas {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor0);
    font-size: 20px;
    font-weight: bold;
}

.usuario{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
}

.usuario img {
    width: 40px;
    height: 40px;
}

.texto {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    font-size: 20px;
    color: var(--cor0);
}

.texto .nome{
    font-weight: bold;
    font-size: 20px;
    color: var(--cor0);
}

#turma{
    width: 150px;
    height: 50%;
    border-radius: 15px;
    border: #727272;
    padding: 7px;
}

.dados {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#notebooks{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#repeticao {
    width: 95%;
    height: 70%;
    overflow: hidden;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-content: start;
    font-size: 17px;
    border-bottom-left-radius: 15px;
}

.header-tabela{
    width: 77%;
    height: 20px;
    background-color: #7272725c;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-around;
    padding: 1.5%;
    align-items: center;
    color: #281549;
    font-style: italic;
    font-weight: 800;
    font-size: 17px;
}

#campo{
    width: 98%;
    height: 100px;
    display: flex;
    background-color: #eeeded;
    justify-content: space-around;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 18px;
    border-bottom: 1px solid #02397185;
}

#campo:hover{
    background-color: #20244f0b;
}

.header-tabela img {
    width: 30px;
    height: 30px;
}

.header-tabela p {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-tabela .id-campo {
    width: 100px;
}

#status_campo{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ult_mod{
    width: 200px;
    margin-right: 70px;

}

#editar{
    text-decoration: underline;
    color: #023971;
    cursor: pointer;
}

.bolinha {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: green;
}

.note {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 20px;
}
  
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
.close {
    color: var(--cor3);
    font-size: 50px;
}
  
.close:hover,
.close:focus {
    color: var(--cor2);
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    padding: 2px 16px;
    background-color: var(--cor5);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 10%;
    color: var(--cor3);
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
  
.modal-body {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: var(--cor4);
}
.modal-body .dashs{
    display: flex;
    flex-direction: row;
    height: 50%;
}
/* CPU----------------------------------------------------------------------- */
.dashs .cpu{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 50px;
    width: 500px;
    height: 300px;
    background-color: var(--cor5);
}
.cpu .infos{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.infos .info{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
/* RAM----------------------------------------------------------------------- */
.dashs .ram{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    border-radius: 20px;
    padding: 50px;
    width: 700px;
    height: 300px;
    background-color: var(--cor5);
}
.ram h3{
    width: auto;
    height: auto;
}
.ram .chart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
/* REDE---------------------------------------------------------------------- */
.dashs .rede{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 50px;
    width: 700px;
    height: 300px;
    background-color: var(--cor5);
}
/* DISCO ---------------------------------------------------------------------*/
.dashs .disco{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    border-radius: 20px;
    padding: 50px;
    width: 500px;
    height: 300px;
    background-color: var(--cor5);
}
#header-title {
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 15px;
    height: 20%;
}

.alerta {
    width: 100px;
    height: 25px;
    border-radius: 40px;
    border: none;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

#header {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.pesquisar{
    width: 30%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
}

.pesquisar .campos {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pesquisar input{
    height: 20px;
    width: 120px;
    border-radius: 15px;
    border-color: #281549;  
    padding: 5px;
    border-width: 0.5px;
}

.pesquisar button{
    height: 30px;
    text-align: center;
    width: 100px;
    background-color: #281549;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.pesquisar span {
    height: fit-content;
    color: #281549;
    font-style: italic;
    cursor: pointer;
}

.dash {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.kpis{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
}
.kpi{
    display: flex;
    flex-direction: column;
    background-color: var(--cor4);
    box-shadow: 10px 3px 7px 0px #727272;
    border-radius: 10px;
    padding: 15px;
    padding-top: 30px;
    justify-content:center;
    align-items:center;
    text-align: center;
    width: 21%;
    height: 60%;
    cursor: pointer;
    transition: 0.2s;
}
.kpi:hover {
    height: 65%;
    width: 23%;
}
.kpi span{
    font-size: 50px;
    font-weight: bold;
    color: var(--cor1);
}
.problemas{
    display: flex;
    height: 200px;
    flex-direction: column;
    padding: 50px;
    justify-content:center ;
    align-items:center ;
    background-color: var(--cor4);
    box-shadow: 10px 0px 7px 7px #727272;
    border-radius: 10px;
    margin-top: 20px;

}
.componentes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 33.3%;
    width: 100%;
    margin-top: 50px;
}
.header-tabela{
    width: 92%;
    height: 10px;
    background-color: #281549;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-around;
    padding: 1.5%;
    align-items: center;
    color: #ffffff;
    font-weight: 800;
    font-size: 17px;
}
.teste {
    margin-left: 160px;
}

.teste2 {
    margin-left: 320px;
}