@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
    width: 100vw;
    height: 95vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #281549;
    display: flex;
    margin: 0%;
    overflow: hidden;
}

.container {
    display: flex;
    background-color: #ffff;
    width: 100%;
    height: 106%;
    justify-content: center;
    margin-left: 100px
}

.campo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 60px;
}

.card {
    width: 85%;
}

.card .formulario {
    display: flex;
    align-items: center;
    margin-top: -30px;

}

.card img.casa {
    display: flex;
    margin-left: 540px;
    margin-top: 15px;
    font-size: 20px;
    transition: all ease 0.3s;
}

.casa:hover {
    transform: scale(1.05);
}


.card #titulo {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #023971;
}


span {
    color: #023971;
}

input {
    width: 215px;
    height: 35px;
    border-radius: 50px;
    background-color: #c8c8c881;
    border: none;
    padding-left: 35px;
    outline: 0;
}

.formulario {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.button {
    width: 250px;
    height: 35px;
    background-color: #281549;
    color: #ffff;
    border-radius: 50px;
    transition: all ease 0.3s;
    font-size: 18px;
    box-shadow: #281549 0px 5px 10px;
    border: none;
}

.button:hover {
    transform: scale(1.05);
}

.div_2 img {
    color: #ffff;
    display: flex;
    justify-content: center;
    height: 33%;
    margin-top: 180px;
    margin-left: 45px;
    align-items: center;
    font-size: 30px;
    flex-direction: column;
}

#titulo2 {
    margin-left: 20px;
}

#img1 {
    position: absolute;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-left: 10px;
}

/* svg {
    position: absolute;
    transform: rotate(270deg);
    height: 106%;
    width: 87%;
    margin-right: 66%;;
} */

.onda{
    height: 100%;
    position: absolute;
    margin-left: 48%;
}


.span #referenciaCadastro {
    text-decoration: none;
}

@media only screen and (max-width: 1360px){

    body {
        width: 100%;
    }

    .div_2 img {
        height: 200px;
    }

    svg {
        margin-left: 320px;
    }

    .container {
        width: 700px;
        margin-left: 90px;
    }

    .card {
        margin-left: -100px;
    }

    .card img.casa{
        margin-left: 540px;
    }

    .card .formulario {
        margin-left: 130px;
    }

    .card #titulo {
        margin-left: 130px;
        font-size: 40px;
    }

}

@media only screen and (max-width: 1200px){

    body {
        width: 100%;
    }

    .div_2 img {
        height: 160px;
    }

    svg {
        margin-left: 195px;
    }

    .container {
        width: 600px;
        margin-left: 90px;
    }

    .card {
        margin-left: -100px;
    }

    .card img.casa{
        margin-left: 540px;
    }

    .card .formulario {
        margin-left: 130px;
    }

    .card #titulo {
        margin-left: 130px;
        font-size: 40px;
    }

}

@media only screen and (max-width: 992px) {
    
    body {
        overflow: hidden;
    }

    .div_2 img {
        height: 120px;
    }

    .card {
        margin-top: 20px;
        margin-left: -300px;
    }

    .card .formulario {
        margin-left: 280px;
    }

    .container {
        margin-left: 100px;
    }

    svg {
        margin-left: 90px;
    }

    .onda{
        margin-left: 45%;
    }

    .card #titulo {
        width: 500px;
        margin-left: 100px;
        font-size: 40px;
    }
}


@media only screen and (max-width: 768px) {
    body {
        flex-direction: column;
        overflow: hidden;
    }

    .container {
        width: 100%;
        height: 88%;
        margin-left: 0px;
    }

    svg {
        transform: rotate(180deg);
        margin-left: 0px;
        margin-top: 480px;
        height: 200px;
    }

    .onda{
        display: none;
    }

    .div_2 {
        display: none;
    }

    .card {
        margin-top: 8px;
        margin-left: -50px;
    }

    .card #titulo {
        font-size: 30px;
        margin-top: 60px;
        margin-left: 100px;
    }

    .card .formulario {
       margin-top: -20px;
       margin-left: 40px;
    }

    .campo {
        height: 55px;
    }

    .campo #img1 {
        margin-top: 28px;
    }

    .casa {
        margin-top: -100px;
    }
       

}

@media only screen and (max-width: 600px) {
    .casa {
        margin-left: 1000px;
    }

    .container {
        width: 600px;
        margin-left: 0px;
    }

    .card {
        margin-left: -100px;
    }

    svg {
        height: 150px;
    }

    .card .formulario {
        margin-left: 100px;
    }

    .card #titulo {
        margin-left: 60px;
        margin-top: 100px;
    }

}