@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Questrial&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

/* BARRA DE ROLAGEM PERSONALIZADA ----------------------------------------------------------------------------------------------------- */

body::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
  }
  
  body::-webkit-scrollbar-thumb {
    background: #572876; /* Cor da parte móvel da barra de rolagem */
    border-radius: 6px; /* Borda arredondada */
  }
  
  body::-webkit-scrollbar-track {
    background-color: transparent; /* Cor de fundo da faixa da barra de rolagem */
  }


/* FUNDO -----------------------------------------------------------------------------------------------------  */
.bannerGif {
    position: relative;
    background-image: url('assets/img/HomeGif.gif'); /* Ajuste o caminho para o seu arquivo GIF */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

/* NAVBAR -----------------------------------------------------------------------------------------------------*/

.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 75px;
    position: fixed;
    backdrop-filter: blur(5px) brightness(0.5);
    z-index: +3;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-left: 30px;
    margin-right: 37px;
}

.logos {
  display: flex;
  align-items: center;
}

.links {
    width: 80%;
    height: 100%;
    display: flex;
}

.links ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    list-style-type: none;

}

.links a#principal  {
    background-color: #452876;
    padding:  5px 30px;
    border-radius: 40px;
    cursor: pointer;
    border-bottom: none;
}

.links a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight: 500;
    margin-right: 85px;
}

.links a#cadastro1 {
  margin-right: 75px;
}

.links a#contatenos {
    margin-right: 0px;
 }
 
.links a:hover {
    border-bottom: 1.5px solid lightblue;
    cursor: pointer;
}

/* HOME ----------------------------------------------------------------------------------------------------- */

.home {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 100px;
    height: 50%;
}

.text h1 {
    color: white;
    font-family: 'Questrial', sans-serif;
    width: 80%;
    font-weight: 100;
    font-size: 65px;
    margin-top: 16%;
}

.text .btn button {
    background-color: transparent;
    border: 2px solid #452876;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    width: 160px;
    height: 35px;
    border-radius: 20px;
    transition: 0.5s;
    margin-top: 80px;
    margin-bottom: 50px;
}

#botao1 {
    margin-right: 30px;
}

.text .btn button:hover {
    background-color: #452876;
}

/* SOBRE NOS ----------------------------------------------------------------------------------------------------- */

.sobreNos {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-color: white;
}

.containerSobreNos {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloSobreNos{
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    width: 100%;
    height: 20%;
    margin-bottom: 50px;
}

.tituloSobreNos h1 {
    color: #023971;
    font-weight: 100;
}
.tituloSobreNos img {
    height: 70px;
    margin-left: 30px;
    margin-right: 15px;
}

.textSobreNos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    color: #281549;
    border-image: linear-gradient(to bottom, #01396f, #8635b4) 1;
    background-clip: padding-box; 
    border-left: 4px solid; 
    margin-left: 25px;
    padding-left: 30px;
    font-size: 25px;
    width: 90%;
    height: 50%;
    transition: 0.5s;
}

.textSobreNos:hover {
    color: #af8de9;
}

.containerImgSobreNos {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative; 
}

.fundoRedondo {
    background-color: #281549;
    border-radius: 50%; 
    width: 70%; 
    height: 70%; 
}

.imgSobreNos {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
}

.imgSobreNos img {
    height: 550px;
    transition: 0.4s;
}

.imgSobreNos img:hover {
    height: 600px;
}

/* MISSÃO, VISÃO, VALORES -----------------------------------------------------------------------------------------------------*/
.mvv {
    height: 100vh;
    width: 100%;
}

.tituloMVV{
    display: flex;
    flex-direction: row;
    font-family: 'Questrial', sans-serif;
    align-items: center;
    width: 100%;
    height: 15%;
    margin-bottom: 50px;
}

.tituloMVV h1 {
    color: #023971;
    font-weight: 100;
}
.tituloMVV img {
    height: 70px;
    margin-left: 30px;
    margin-right: 15px;
}

.containerMVV {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 85%;
}

.missao, .visao, .valores {
    height: 70%;
    width: 20%;
    margin-bottom: 100px;
    transition: 0.5s;
    background-color: #281549;
}

.missao:hover, .visao:hover, .valores:hover {
    height: 80%;
    width: 24%;
    margin-bottom: 100px;
    background-color: #281549;
}

.missao .tituloMVV, .visao .tituloMVV, .valores .tituloMVV {
    height: 30%;
    width: 100%;
    margin: 0;
}

.missao .tituloMVV h1, .visao .tituloMVV h1, .valores .tituloMVV h1 {
    color: white;
    font-size: 'Questrial', sans-serif;
    border-image: linear-gradient(to bottom, #01396f, #8635b4) 1;
    background-clip: padding-box; 
    transition: 0.5s;
    padding-left: 16px;
    border-bottom: 3px solid; 
}

.missao .tituloMVV img {
    padding-left: 25px;
    margin-bottom: 25px;
}

.visao .tituloMVV img {
    padding-left: 40px;
    margin-bottom: 25px;
}

.valores .tituloMVV img {
    padding-left: 2px;
    margin-bottom: 25px;
}


.missao .textMVV, .visao .textMVV, .valores .textMVV {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 14px;
    font-size: 15px;
    width: 90%;
    height: 50%;
    transition: 0.5s;
}

.valores .textMVV {
    margin-top: 20px;
}

/* TIME -----------------------------------------------------------------------------------------------------*/

.time {
    height: 130vh; /* Altura igual à altura da janela de visualização */
    width: 100%;
    background-image: url(assets/img/MindCore\ \(2\).png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.container h1 {
    font-size: 25px;
    color: #9340FF;
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s;
}

.container h1:hover {
    color: #be8dff;
}

.container p {
    color: white;
    font-family: 'Questrial', sans-serif;
    margin-bottom: 3px;
}

.caixaTime {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
    height: 70%;
    width: 100%;
}

.imagemTime {
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    width: 20%;
}

.foto {
    height: 64%;
    width: 53%;
    border-radius: 210px;
    background-color: white;
}

.foto img{
    width: 100%;
    height: 100%;
    border-radius: 230px;
    border: 2.0px solid white;
}

.caixaTime01 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
    width: 100%;
}

.imagemTime01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 21%;
    margin-top: 100px;
}



.imagemTime01 .foto {
    height: 89%;
    width: 52%;
    border-radius: 210px;
    background-color: white;
}


.icone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 40%;
}

.icon {
    display: flex;
    justify-content: center;
    height: 70%;
    width: 15%;
    transition: 0.5s;
}

.icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 100%; 
}

.icon img {
    height: 50%;
    width: 48%;
}

.imagemTime01 .icon img {
    height: 56%;
    width: 45%;
}

.imagemTime01 .icon:hover img {
    height: 60%;
    width: 48%;
    border-bottom: 2px solid #9340FF;
    cursor: pointer;
}


.imagemTime .icon:hover img {
    height: 60%;
    width: 49%;
    border-bottom: 2px solid #9340FF;
    cursor: pointer;
}

/* SOBRE O PROJETO ------------------------------------------------------------------------------------------------------------*/

.ondulacao{
    width: 100%;
    height: 300px;
    background-image: url(../assets/img/rodape/img/2024-03-17\ 054355-Photoroom.png-Photoroom.png);
    background-size: cover;
  }

  .TituloProjeto{
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    width: 100%;
    height: 20%;
    margin-bottom: 50px;
}

.TituloProjeto h1 {
    color: #023971;
    font-weight: 100;
}
.TituloProjeto img {
    height: 70px;
    margin-left: 30px;
    margin-right: 15px;
}
  
  .container-roda {
    width: 100%;
  }
  
  .lista-slide {
    position: relative;
  }
  
  .lista-slide .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #000000;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #ffffff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .lista-slide .slide-button:hover {
    background: #404040;
  }
  
  .lista-slide .slide-button#slide-anterior {
    left: 0px;
    display: none;
  }
  
  .lista-slide .slide-button#proximo-slide {
    right: 0px;
  }
  
  .lista-slide .lista-texto {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    text-align: center;
  }
  
  .lista-slide .lista-texto::-webkit-scrollbar {
    display: none;
  }
  
  .lista-slide .lista-texto .item-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 420px;
    flex-direction: column;
    background-color: #281549;
    border-radius: 40px;
    margin: 0px 70px 0px 20px;
    z-index: -2;
  }

  .item-texto img {
    width: 80px;
    height: 80px;
  }

  .item-texto h1 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
  }

  
  .container .slider-scrollbar {
    height: 24px;
    width: 98%;
    display: flex;
    align-items: center;
  }
  
  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 95%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  
  .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
  }
  
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }
  
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }

  /* FOOTER ------------------------------------------------------------------------------------------------------------*/

  .rodape{
    width: 100%;
    height: auto;
    background-image: url(../assets/img/rodape/img/MindCore-removebg.png);
    background-position: bottom;  
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100%;
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .boxes{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-around;
  }

  .box{
    margin: 330px 0px 0px 120px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
  }

  .box .texto-nome{
    width: 100%;
    display: flex;
    justify-content: start;
  }

  .box h1 {
    font-weight: 500;
  }

  .box .icone{
    margin: 5px 5px 0px 5px;
    
  }
  
  .imagens{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

   #segunda-logo{
    display: flex;
    align-items: center;
  }

  #terceira-logo{
    display: flex;
    align-items: center;
  }
  
  .icone-end{
    width: 32px;
    height: 32px;
    margin: 5px 5px 0px 0px;
  }

  .input{
    border-radius: 3px;
    height: 20px;
    width: 250px;
  }

  .input-contato{
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .botaoContato {
    margin-top: 10px;
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    background-color: #9340FF;
    color: #ffffff;
    transition: 0.4s ease;
  }

  .botaoContato:hover {
    transform: scale(1.02);
  }

  /* @media only screen and (max-width: 1023px) {
    .lista-slide .slide-button {
      display: none !important;
    }
  
    .lista-slide .lista-texto {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
  
    .lista-slide .lista-texto .item-texto {
      width: 280px;
      height: 380px;
    }
  
    .slider-scrollbar .scrollbar-thumb {
      width: 20%;
    }
  } */

  @media only screen and (max-width: 1300px) {
  
    
  }

  @media only screen and (max-width: 992px) {
    .links {
      margin-left: -50px;
    }

    .text h1 {
      font-size: 45px;
    }

    .textSobreNos {
      font-size: 19px;
    }

    .containerMVV img {
      display: none;
    }
    .containerMVV {
       margin-top: -30px;
    }

    .valores .textMVV {
      font-size: 13px;
    }

    .visao .textMVV {
      font-size: 13px;
    }

    .missao .textMVV {
      font-size: 13px;
    }

    .imagemTime01 h1 {
      width: 250px;
      margin-left: 55px;
    }

    .imagemTime .icone {
      height: 30px;
    }

    .imagemTime {
      width: 280px;
    }

    .imagemTime01 .foto {
      width: 150px;
    }

    .time {
      margin-top: -100px;
    }

    .TituloProjeto {
      margin-top: -100px;
    }

    .boxes {
      margin-top: -40px;
    }

    .box {
      margin-inline-start: auto;
      margin-left: 60px;
    }

  }


  
  @media only screen and (max-width: 768px) {
    body{
      width: 100%;
    }
    
    .home{
      flex-direction: column-reverse;
    }
    
    .links a{
      display: none;
    }

    .text h1 {
      font-size: 40px;
    }

    .links a#cadastro1 {
      display: flex;
    }

    .textSobreNos {
      font-size: 19px;
      margin-top: 20px;
    }

    .imgSobreNos img {
      height: 450px;
      margin-top: 25px;
      transition: 0.4s;
    }

    .imgSobreNos img:hover {
      height: 480px;
    }

    .tituloMVV h1 {
      margin-bottom: -20px;
    }

    .tituloMVV {
      margin-left: -160px;
    }

    .tituloMVV img {
      margin-left: 200px;
      margin-top: 10px;
    }

    .containerMVV{
      flex-direction: column;
      justify-content: center;
      margin-top: 70px;
      height: 800px;
    }

    .valores {
      height: 500px;
      width: 470px;
      transition: none;
    }

    .visao {
      height: 500px;
      width: 470px;
      transition: none;
    }

    .missao {
      height: 500px;
      width: 470px;
      transition: none;
    }

    .valores:hover {
      width: 470px;
    }

    .visao:hover {
      width: 470px;
    }

    .missao:hover {
      width: 470px;
    }

    .time {
      margin-top: 250px;
    }

    .caixaTime {
      margin-top: 65px;

    }

    .caixaTime01 {
      margin-top: -40px;
    }

    .imagemTime{
      width: 250px;
      height: 210px;
    }

    .imagemTime01{
      width: 250px;
      height: 165px;
    }

    .imagemTime01 .icone {
      width: 290px
    }

    .imagemTime01 .icone .icon {
      height: 30px;
    }

    .box {
      font-size: 12px;
      margin-inline-start: auto;
      margin-left: 60px;
    }

    .box .hContato {
      display: none;
    }

    .box .input-contato {
      margin-top: -70px;
    }

    .input {
      width: 90%;
    }

    .botaoContato {
      width: 90%;
    }

    .texto-endereco {
      margin-top: -90px;
    }

    .texto-nome{
      margin-top: -70px;
    }

    .fundoRedondo {
      display: none;
    }

    .caixaTime{
      height: 60%;
    }

    .ondulacao{
      margin-top: -10px;
    }

    .boxes{
      margin-top: 0px;
    }

    .TituloProjeto {
      margin-top: -180px;
    }
    
  }

  @media only screen and (max-width: 600px) {
    .text h1 {
      font-size: 39px;
      margin-top: -100px;
    }

    .btn {
      margin-top: -80px;
    }

    .textSobreNos {
      font-size: 15px;
      margin-top: -25px;
    }

    .tituloSobreNos h1 {
      margin-top: -10px;
    }

    .imgSobreNos img {
      width: 180px;
      height: 350px;
      transition: 0.4s all ease;
    }

    .imgSobreNos img:hover {
      height: 380px;
      width: 200px;
    }

    .tituloMVV h1 {
      margin-bottom: -20px;
    }
    
    .tituloMVV img {
      height: 60px;
      width: 70px;
    }

    .mvv {
      margin-top: -60px;
    }

    .mvv h1 {
      margin-top: -7px;
    }


    .containerMVV {
      margin-top: 55px;
      height: 1000px;
      margin-left: -40px;
      flex-direction: column;
    }

    .valores {
      margin-left: 65px;
      width: 470px;
      transition: none;
    }

    .visao {
      margin-left: 65px;
      width: 470px;
      height: 500px;
      transition: none;
    }

    .missao {
      margin-left: 75px;
      width: 470px;
      transition: none;
    }

    .valores:hover {
      width: 470px;
      height: 700px;
    }

    .missao:hover {
      width: 470px;
    }

    .visao:hover {
      width: 470px;
      height: 600px;
    }

    .valores img {
      width: 50px;
      height: 50px;
      margin-left: 220px;
      margin-top: 10px;
    }

    .visao img {
      width: 100px;
      margin-left: 220px;
      margin-top: 10px;
    }

    .missao img {
      height: 50px;
      margin-top: 20px;
      margin-left: 220px;
    }

    .time {
      margin-top: 400px;
    }

    .TituloProjeto  {
      margin-top: -200px;
    }

    .TituloProjeto h1 {
      margin-top: 50px;
    }

    .TituloProjeto img {
      margin-top: 60px;
    }

    .imagemTime {
      margin-top: 2000px;
    }

    .imagemTime .foto {
      height: 97px;
      width: 100px;
    }

    .imagemTime01 .foto {
      height: 97px;
      width: 100px;
    }

    .imagemTime h1 {
      font-size: 15px;
      margin-top: 10px;
    }

    .caixaTime {
      margin-top: 45px;
    }

    .imagemTime01 h1 {
      font-size: 15px;
      margin-top: 10px;
      margin-left: 130px;
    }

    .imagemTime .icone {
      height: 30px;
    }
    
    .icone {
      height: 60px;
    }

    .imagemTime01 .icone .icon {
      height: 30px;
    }

    .boxes {
      margin-top: -100px;
      margin-bottom: 0;
    }

    .box {
      font-size: 12px;
      margin-inline-start: auto;
    }

    .box img {
      height: 15px;
      width: 20px;
    }

    .box .texto-nome {
      margin-top: 95px;
    }

    .texto-endereco{
      margin-top: 60px;
    }

    .box .input-contato{
      margin-top: -30px;
      height: 17vh;
    }

    .box .hContato {
      display: none;
    }

    .box .texto-endereco {
      margin-top: -25px;
    }
    
    .box .texto-nome {
      margin-top: -25px;
    }

    .input {
      width: 90%;
    }

    .botaoContato {
      width: 90%;
    }
  
  }

  @media only screen and (max-width: 430px) {
    body {
      flex-direction: column;
    }
    .home{
      height: 50vh;
    }
    .text{
      margin-left: 30px;
    }

    .text h1 {
      font-size: 30px;
      width: 300px;
    }

    .btn {
      margin-top: 0;
      height: auto;
    }
    .text .btn button {     
      margin-top: 0px;
      margin-bottom: 30px;
  }
    .sobreNos{
      height: 140vh;
      flex-direction: column;
      gap: 30px;
    }
    .containerSobreNos{
      width: 100%;
      height: auto;
    }

    .textSobreNos {
      height: auto;
      margin-left: 0;
      padding-left: 0;
      font-size: 15px;
      margin-top: -25px;
    }
    .tituloSobreNos{
      margin-top: 30px;
    }

    .tituloSobreNos h1 {
      margin-top: -10px;
    }
    .containerImgSobreNos{
      width: 100%;
      height: 40%;
    }

    .imgSobreNos img {
      width: 180px;
      height: 350px;
      transition: 0.4s all ease;
    }

    .imgSobreNos img:hover {
      height: 380px;
      width: 200px;
    }

    .tituloMVV h1 {
      margin-bottom: -20px;
    }
    
    .tituloMVV img {
      height: 60px;
      width: 70px;
    }

    .mvv {
      height: auto;
    }

    .mvv h1 {
      margin-top: -7px;
    }


    .containerMVV {
      margin-top: 30px;
      height: auto;
      width: 100%;
      flex-direction: column;
      align-items: baseline;
      padding: 30px
    }

    .valores {
      margin-left: 30px;
      width: 100%;
      height: 420px;
      transition: none;
      margin-bottom: 50px;
      font-size: 11px;
    }

    .visao {
      margin-left: 30px;
      width: 100%;
      height: 300px;
      transition: none;
      margin-bottom: 50px;
      font-size: 11px;
    }

    .missao {
      margin-left: 30px;
      width: 100%;
      height: 350px;
      transition: none;
      margin-bottom: 50px;
      font-size: 11px;
    }

    .valores:hover {
      width: 100%;
      height: 450px;
    }

    .missao:hover {
      width: 100%;
      height: 380px;
    }

    .visao:hover {
      width: 100%;
      height: 330px;
    }

    .valores img {
      width: 50px;
      height: 50px;
      margin-left: 220px;
      margin-top: 10px;
    }

    .visao img {
      width: 100px;
      margin-left: 220px;
      margin-top: 10px;
    }

    .missao img {
      height: 50px;
      margin-top: 20px;
      margin-left: 220px;
    }

    .time {
      margin-top: 0px;
      height: 100vh;
    }

    .TituloProjeto  {
      margin-top: -200px;
    }

    .TituloProjeto h1 {
      margin-top: 50px;
    }

    .TituloProjeto img {
      margin-top: 60px;
    }

    .imagemTime {
      margin-top: 0px;
      width: 25%;
      height: 250px;
      justify-content: space-around;
    }

    .imagemTime .foto {
      height: 80px;
      width: 80px;
    }
    .imagemTime01{
      width: 30%;
      margin-top: 50px;
    }

    .imagemTime01 .foto {
      height: 97px;
      width: 100px;
    }

    .imagemTime h1 {
      font-size: 15px;
      margin-top: 10px;
    }

    .caixaTime {
      margin-top: 0px;
      gap: 20px;
    }
    .caixaTime01{
      justify-content: space-around;
    }

    .imagemTime01 h1 {
      font-size: 15px;
      margin-top: 10px;
      margin-left: 130px;
    }

    .imagemTime .icone {
      height: 30px;
      width: 100%;
    }
    .imagemTime .icone .icon{
      width: 20%;
      height: 25px;
    }

    .imagemTime01 .icone{
      width: 100%;
    }

    .imagemTime01 .icone .icon {
      width: 30%;
      height: 30px;
    }
    .imagemTime .icone .icon img{
      height: 15px;
      width: 100%;
    }
    .rodape{
      background-size: auto;
    }

    .boxes {
      margin-top: 100px;
      height: 400px;
      margin-bottom: 0;
      flex-direction: column;
      align-items: center;
    }

    .box {
      margin: 0px 0px 0px 0px;
      font-size: 12px;
    }

    .box img {
      height: 20px;
      width: 30px;
    }

    .box .texto-nome {
      margin-top: 20px;
    }

    .box .input-contato{
      margin-top: 0px;
      height: 125px;
    }

    .box .hContato {
      display: block;
      margin-top: 20px;
    }

    .box .texto-endereco {
      margin-top: 20px;
    }

    .input {
      width: 90%;
    }

    .botaoContato {
      width: 90%;
      height: 30px;
    }
  }
  

  /*  ------------------------------------------------------------------------------------------------------------*/
