.list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list-header {
    width: 77%;
    height: 20px;
    background-color: #7272725c;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-around;
    padding: 1.5%;
    align-items: center;
    color: #281549;
    font-style: italic;
    font-weight: 800;
}

#nome-users {
    width: 150px;
}


.list-header span {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.list-header img {
    width: 30px;
    height: auto;
}

.list-users {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    background-color: #f2f2f2;
    font-size: 20px;
    overflow: hidden;
    border-bottom-left-radius: 15px;
}

.user {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 0.5px #02397185;
    font-size: 17px;
}

.user:hover{
    background-color: #20244f0b;
}

.user span {
    display: flex;
    align-items: center;
}

.email {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.papel {
    position: relative;
    width: 200px;
}

.status span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    background-color: chartreuse;
    border-radius: 25px;
}

.edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    font-weight: 600;
}

.edit a {
    text-decoration: none;
    text-transform: none;
    color: #023971;
}

.adicionar{
    width: 300px;
    height: fit-content;
    padding: 8px;
    align-self: flex-end;
    border: none;
    background-color: #281549;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    margin-right: 125px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 17px;
}

.modalUsuario {
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
  
.modal-conteudo {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 40%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 20px;
}
  
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
.close {
    color: var(--cor3);
    height: 60px;
}
  
.close:hover,
.close:focus {
    color: var(--cor2);
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header-usuario {
    padding: 2px 16px;
    background-color: var(--cor5);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 9%;
    color: var(--cor3);
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
  
.modal-body-usuario {
    padding: 2px 16px;
    background-color: #fff;
    border-radius: 20px;
}

#header-title-usuario {
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 15px;
    height: 20%;
    font-size: 16px;
}

/* Formulario*/
.formulario{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.formulario .campo{
    width: 80%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.campo input, select {
    width: 100%;
    height: 40px;
    padding: 8px;
    border: 0.5px solid #bdbfc1;
    border-radius: 15px;
    background-color: var(--cor4);
    letter-spacing: 1px;
}

.campo span{
    align-self: self-start;
}

.botoes{
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.botoes button{
    width: 200px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 900;
}

.cancelar{
    background-color: var(--cor1);
}

.adicionar-botao{
    background-color: var(--cor0);
}